{% extends "baseNav.html" %}

{% block tabTitle %}Identity Info & Management | Access Portal{% endblock %}

{% block head %}
<style>
    #content {
        text-align: left;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #heading {
        text-align: center
    }

    .sideFloats {
        display: inline-block;
    }

    #dangerZoneDiv h3 {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid red; 
        line-height: 0.1em;
        margin: 10px 0 20px; 
        color: red;
    }

    #dangerZoneDiv h3 span {
        background: #fff;
        padding: 0 10px;
    }
</style>
{% endblock %}

{% block body %}
<div id="content">
    <h1 id="heading">Identity Information & Management</h1>
    <br>
    <br>
    <h4>This is your Access Identity.</h4>
    <br>
    <br>
    <p>Username: <strong>{{ username }}</strong></p>
    <br>
    <div class="sideFloats"><p>Email: <strong>{{ idInfo['email'] }}</strong></p></div>&nbsp;&nbsp;&nbsp;&nbsp;<div class="sideFloats"><a href="idInfo/updateEmail"><button type="button" class="btn btn-outline-primary">Change Your Email</button></a></div>
    <br>
    <br>
    <div class="sideFloats"><p>Password: {{ idInfo['passCensored'] }}</p></div>&nbsp;&nbsp;&nbsp;&nbsp;<div class="sideFloats"><button type="button" class="btn btn-outline-primary">Change Your Password</button></div>
    <br>
    <br>
    <p>Access Folder Status: <strong>{{ idInfo['AFStatus'] }}</strong></p>
    <br>
    <p>Creation Date: <strong>{{ idInfo['creationDate'] }}</strong></p>
    <br>
    <br>
    <div id="dangerZoneDiv">
        <h3><span>Danger Zone</span></h3>
        <br>
        <br>
        <div id="dangerZoneButtons">
            <div class="sideFloats">
                <button type="button" class="btn btn-outline-danger">Delete Your Identity</button>
            </div>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="sideFloats">
                <button type="button" class="btn btn-outline-danger">Delete Your Identity</button>
            </div> -->
        </div>
    </div>

    <!-- ENDING BREAKS-->
    <br>
    <br>
</div>
{% endblock %}