{% extends "baseXNav.html" %}

{% block tabTitle %}Update Password | Settings | Access Portal{% endblock %}

{% block head %}
<style>
    #content {
        text-align: center;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #statusLabel {
        font-size: 18px;
        font-weight: bold;
        color: #000000;
        visibility: hidden;
    }

    .fancyButtons:hover {
        background-color: #000000;
        color: white;
        stroke: green;
        stroke-width: 3px;
        stroke-dashoffset: 15px;
    }

    .fancyButtons {
        border: none;
        color: white;
        padding: 14px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        transition-duration: 0.5s;
        cursor: pointer;
        background-color: darkslategray;
        border-radius: 10px;
    }
</style>
{% endblock %}

{% block body %}
<div id="content">
    <h1 id="heading">Update Password</h1>
    <br>
    <div id="backToPortalButton">
        <a href="../idInfo"><button type="button" class="btn btn-primary" onclick="backToPortal()" id="backToPortalActualButton">< Back to Portal</button></a>
    </div>
    <br>
    <br>
    <p id="statusLabel">Processing...</p>
    <br>
    <br>
    <form>
        <label for="password">Enter current password:</label><br>
        <input type="password" id="currentPasswordField" name="password" placeholder="Password" class="toDisableFields">
        <br>
        <br>
        <label for="password">Enter new password (Must have at least 1 special character and 1 number):</label><br>
        <input type="password" id="newPasswordField" name="password" placeholder="Password" class="toDisableFields">
        <br>
        <br>
        <label for="password">Confirm new password:</label><br>
        <input type="password" id="confirmPasswordField" name="password" placeholder="Password" class="toDisableFields">
    </form>
    <br>
    <button onclick="updatePassword()" id="updatePasswordButton" class="fancyButtons">Update Password</button>
    <br>
</div>
<script src="/assets/updatePasswordJS"></script>
{% endblock %}