virt/
validAuthTokens.txt
.env
__pycache__/
certificates.txt
accessIdentities.txt
AccessFolders/
validOTPCodes.txt
templates/.DS_Store
analyticsData.txt
analyticsReports/
authorisation.txt
.DS_Store
venv/
licensekey.txt
isInReplit.txt
config.txt