virt/
.env
__pycache__/
AccessFolders/
analyticsData.json
analyticsReports/
.DS_Store
venv/
licensekey.txt
isInReplit.txt
.VSCodeCounter/
logs.txt
config.json
database.json
serviceAccountKey.json
Directories/