.fancyButtons:hover {
    background-color: #000000;
    color: white;
    stroke: green;
    stroke-width: 3px;
    stroke-dashoffset: 15px;
}

.fancyButtons {
    border: none;
    color: white;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: darkslategray;
    border-radius: 10px;
}