{% extends "baseXNav.html" %}

{% block tabTitle %}Select A File to Delete{% endblock %}

{% block head %}
<style>
    #content {
        margin-top: 50px;
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
    }

    #heading {
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
<div id="content">
    <h1 id="heading">Delete a File</h1>
    <br>
    <br>
    <button type="button" class="btn btn-primary" onclick="backToPortal()">< Back to Portal</button>
    <br>
    <br>
    <h5>Select a file from below to delete:</h5>
    <br>
    <br>
    {% if files != None %}
    <table class="table table-dark rounded">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">File Name</th>
                <th scope="col">File Extension</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td><a href="deleteFile?filename={{ file }}">
                        <p>{{ '.'.join(file.split('.')[0:file.split('.')|length - 1]) }}</p>
                    </a></td>
                <td>{{ file.split('.')[file.split('.')|length - 1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h5>You have no files in your folder.</h5>
    {% endif %}
</div>
<script>
    function backToPortal() {
        window.location.href = document.URL.substring(0, document.URL.lastIndexOf("/"));
    }
</script>
{% endblock %}