{% extends "baseXNav.html" %}

{% block tabTitle %}Folder Registration | Access Portal{% endblock %}

{% block head %}
<style>
    #content {
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
    }
    #heading {
        text-align: center;
        margin-top: 10px;
    }
    #statusLabel {
        visibility: hidden;
    }
</style>
{% endblock %}

{% block body %}
<h1 id="heading">Folder Registration</h1>
<br>
<p>Welcome to the Access Folder Registration process!</p>
<br>
<p>Your Access Folder has a maximum of {{ maxSlots }} file slots in which you can upload any file that has an allowed file extension.</p>
<p>Each upload can only be a maximum of 16MB in size and can have any of the following allowed file extensions below:</p>
<br>
<p>{{ fileExtensions }}</p>
<br>
<br>
<h5 id="statusLabel">Registering folder for {{ username }}...</h5>
<button type="button" class="btn btn-outline-primary" onclick="registerClicked()">Register</button>
<script src="/assets/folderRegistrationJS"></script>
{% endblock %}