{% extends "baseXNav.html" %}

{% block tabTitle %}New Upload | Access Portal{% endblock %}

{% block head %}
<style>
    #content {
        text-align: left;
        margin-left: 20px;
        margin-right: 20px;
    }

    #heading {
        text-align: center;
        margin-top: 10px;
    }
    
    #uploadForm {
        align-content: center;
    }

    #statusLabel {
        font-size: 18px;
        font-weight: bold;
        color: #000000;
        visibility: hidden;
    }
</style>
{% endblock %}

{% block body %}
<div id="content">
    <h1 id="heading">Upload A New File</h1>
    <br>
    <br>
    <button type="button" class="btn btn-primary" onclick="backToPortal()">< Back to Portal</button>
    <br>
    <br>
    <p>Allowed file extensions: {{ fileExtensions }}</p>
    <p>File slots available: {{ slotsAvailable }}</p>
    <br>
    <p id="statusLabel">Processing...</p>
    <br>
    <form method=post enctype=multipart/form-data id="uploadForm">
        <input type=file name=file>
        <br>
        <br>
        <input type=submit value=Upload onclick="startProcessing()">
    </form>
    <br>
    <br>
    {% with messages = get_flashed_messages() %}  
        {% if messages %}  
            {% for message in messages %}  
                <p>{{ message }}</p>  
            {% endfor %}  
        {% endif %}  
    {% endwith %}
</div>
<script>
    function backToPortal() {
        var splitArray = document.URL.split('/')
        splitArray.pop(9)
        splitArray = splitArray.join('/')
        window.location.href = splitArray
    }

    function startProcessing() {
        document.getElementById("statusLabel").style.visibility = "visible"

        setTimeout(() => {
            document.getElementById("statusLabel").style.visibility = "hidden"
        }, 10000)
    }
</script>
{% endblock %}