{% extends "baseXNav.html" %}

{% block tabTitle %}Delete File | Access Portal{% endblock %}

{% block head %}
<style>
    #content {
        margin-top: 50px;
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
<div id="content">
    <h1>Delete File</h1>
    <br>
    <div class="card">
        <h5 class="card-header">Confirm Delete?</h5>
        <div class="card-body">
          <h5 class="card-title">Are you sure you want to delete the file "{{ filename }}"</h5>
          <p class="card-text">Your file will be permanently deleted and this action is irreversible.</p>
          <a href="#" class="btn btn-primary">Confirm</a><a href="#" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}