{% extends "baseNav.html" %}

{% block tabTitle %}Access Portal Home{% endblock %}

{% block head %}
<style>
    #content {
        text-align: left;
        margin-left: 20px;
    }
    #greeting {
        text-align: center;
        margin-top: 10px;
    }
</style>
<script src="/assets/portalHomeJS"></script>
{% endblock %}

{% block body %}
<h1 id="greeting">Welcome,  {{ username }}</h1>
<div id="content">
    <p class="font-weight-bold">Welcome to the Access Portal.</p>
    <p>This is a place where you can manage your Access Identity and upload important files to your Access Folder (you can only upload upto 3 files) amongst other things.</p>
</div>
{% endblock %}