<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Confirm your Email | Access Portal</title>
    </head>
    <body>
        <h1>Confirm Your New Email</h1>
        <p>Dear {{ username }},</p>
        <br>
        <p>You recently requested to update your Access Identity email on the Access Portal. Please enter the OTP code below to verify this email.</p>
        <br>
        <h3>OTP Code: {{ otpCode }}</h3>
        <br>
        <p>Was not you? Please kindly ignore this email. Apologies for any inconveniences.</p>
        <br>
        <br>
        <p>Kind regards, The Access Team</p>
        <p>THIS IS AN AUTOMATED MESSAGE DELIVERED TO YOU BY THE ACCESS PORTAL. DO NOT REPLY TO THIS EMAIL.</p>
        <p>Copyright 2022 Prakhar Trivedi</p>
    </body>
</html>