<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>File Deleted | Access Portal</title>
    </head>
    <body>
        <h1>File deleted from Access Folder</h1>
        <p>Dear {{ username }},</p>
        <br>
        <p>This email is just a notification that you recently deleted a file with the name <strong>'{{ filename }}'</strong> from your Access Folder.</p>
        <br>
        <p>If this was you, please ignore this email. If it was not, please login to Access Portal and immediately change your password.</p>
        <br>
        <p>Kind regards, The Access Team</p>
        <p>THIS IS AN AUTOMATED MESSAGE DELIVERED TO YOU BY THE ACCESS PORTAL. DO NOT REPLY TO THIS EMAIL.</p>
        <p>Copyright 2022 Prakhar Trivedi</p>
    </body>
</html>