<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Access Identity Login Alert</title>
    </head>
    <body>
        <h1>Access Folder Registered.</h1>
        <p>Dear {{ username }},</p>
        <br>
        <p>Congratulations! You have just registered your Access Folder via the Access Portal.</p>
        <br>
        <p>You can upload a maximum of {{ maxSlots }} files, each not bigger than 16MB in size, onto the system that have the following allowed file extensions:</p>
        <p>{{ fileExtensions }}</p>
        <br>
        <p>You can now login to the Access Portal and upload files to your folder straight away!</p>
        <br>
        <p>Kind regards, The Access Team</p>
        <p>THIS IS AN AUTOMATED MESSAGE DELIVERED TO YOU BY THE ACCESS PORTAL. DO NOT REPLY TO THIS EMAIL.</p>
        <p>Copyright 2022 Prakhar Trivedi</p>
    </body>
</html>