<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Verify OTP | Access</title>
    </head>

    <body>
        <h1>OTP Code For Access Portal</h1>
        <p>Welcome to the Access family! To finish signing up, verify your email by clicking on <a href="{{ verificationLink }}">this link.</a></p>
        <p>Link not working? Copy and paste this to a browser: {{ verificationLink }}</p>
        <br>
        <p>If you did not request this, please ignore this email.</p>
        <br>
        <p>Kind regards, The Access Team</p>
        <br>
        <p>THIS IS AN AUTOMATED MESSAGE DELIVERED TO YOU BY THE ACCESS PORTAL. DO NOT REPLY TO THIS EMAIL.</p>
        <p>{{ copyright }}</p>
    </body>
</html>
