<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Password Reset Key | Access</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

            body {
                font-family: 'Ubuntu', sans-serif;
                background-color: #f5f5f5;
                color: #333;
                margin: 20px;
                font-size: larger;
            }
        </style>
    </head>

    <body>
        <img src="https://raw.githubusercontent.com/Prakhar896/Access/refs/heads/revamp/frontend/public/logo/svg/logo-color.svg" alt="Access Logo" height="100px" width="100px" style="border-radius: 20px;">
        <h2>Password Reset Key</h2>
        <p>Dear {{ username }},</p>
        <p>You requested a password reset on the Access Portal. Please enter the reset key below to continue your password reset.</p>
        <p>Please note that the reset key will only be available for <strong>15 minutes.</strong></p>
        <br>
        <h3>Reset Key: {{ resetKey }}</h3>
        <p>If this was not you, please ignore this email.</p>
        <br>
        <p>Thank you for being a valued user of Access.</p>
        <br>
        <p>{{ copyright }}</p>
    </body>
</html>