<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Password Updated | Access Portal</title>
    </head>
    <body>
        <h1>Access Identity Password Updated</h1>
        <p>Dear {{ username }},</p>
        <br>
        <p>This email is just a notification that you recently changed your password in the Access Portal as of <strong>{{ timestamp }}</strong>.</p>
        <p>You can change your password again any time in the Identity Information & Management (IIM) Settings pane.</p>
        <br>
        <p>Wasn't you? Click <a href="{{ resetPwdLink }}">here</a> to reset your password and to recover your identity.</p>
        <br>
        <p>Thank you for your time!</p>
        <br>
        <p>Kind regards, The Access Team</p>
        <p>THIS IS AN AUTOMATED MESSAGE DELIVERED TO YOU BY THE ACCESS PORTAL. DO NOT REPLY TO THIS EMAIL.</p>
        <p>Copyright 2022 Prakhar Trivedi</p>
    </body>
</html>