<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Password Reset Key | Access Portal</title>
    </head>
    <body>
        <h1>Password Reset Key</h1>
        <p>Dear {{ username }},</p>
        <br>
        <p>You recently requested to reset your identity's password on the Access Portal. For verification, please enter the password reset key below onto the portal to complete your password reset.</p>
        <br>
        <h3>Password Reset Key: {{ resetKey }}</h3>
        <br>
        <p>Please note that this key is only valid for 15 minutes; after which, you will get an invalid key error when attempting to complete your password reset.</p>
        <br>
        <br>
        <p>Kind regards, The Access Team</p>
        <p>THIS IS AN AUTOMATED MESSAGE DELIVERED TO YOU BY THE ACCESS PORTAL. DO NOT REPLY TO THIS EMAIL. THIS EMAIL IS CONFIDENTIAL; DO NOT SHARE THIS EMAIL.</p>
        <p>Copyright 2022 Prakhar Trivedi</p>
    </body>
</html>