<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome to Access!</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

            body {
                font-family: 'Ubuntu', sans-serif;
                background-color: #f5f5f5;
                color: #333;
                margin: 20px;
                font-size: larger;
            }
        </style>
    </head>

    <body>
        <img src="https://raw.githubusercontent.com/Prakhar896/Access/refs/heads/revamp/frontend/public/logo/svg/logo-color.svg" alt="Access Logo" height="100px" width="100px" style="border-radius: 20px;">
        <h2>Welcome to Access</h2>
        <p>Dear {{ username }},</p>
        <p>Thank you for signing up with Access, a secure, efficient and intuitive cloud storage service for all of your storage needs.</p>
        <p>With high reliability and a large set of useful features, you can be rest assured as Access takes on the bulk of the tedious file management tasks.</p>
        <br>
        <p>After you verify your email, you will get access to a variety of tools and features to get started.</p>
        <p>Login to the Access Portal to intuitively see, manage and update your files and account information.</p>
        <p>We are so excited to have you on board!</p>
        <br>
        <p>Thank you for being a valued user of Access.</p>
        <br>
        <p>{{ copyright }}</p>
    </body>
</html>
