{% extends "baseXNav.html" %}

{% block tabTitle %}Access Portal Error{% endblock %}

{% block head %}
<style>
    #content {
        text-align: center;
    }
    body {
        margin-top: 150px;
    }
</style>
{% endblock %}

{% block body %}
<div id="content">
    <img src="/assets/accessLogo" alt="logo" width="200" height="57">
    <br>
    <br>
    <h1>An Error Occurred</h1>
    <br>
    {% with messages = get_flashed_messages() %}  
        {% if messages %}  
            {% for message in messages %}  
                <h3>{{ message }}</h3>
            {% endfor %}  
        {% elif error != None and error != '' %}
            <h3>{{ error }}</h3>
        {% else %}
            <h3>No error message was provided.</h3>
        {% endif %}
    {% endwith %}
    <br>
    <h6>You have been re-directed to this page as an error occurred in your request. Please try again.</h6>
    <br>
    <br>
    <a href="{{ originURL }}"><p>Go back to Access Home</p></a>
    <br>
    <script src="/assets/copyright"></script>
</div>
{% endblock %}