{% extends "baseXNav.html" %}
{% block tabTitle %}Login to Access{% endblock %}

{% block head %}
<style>
    body {
        margin-top: 225px;
    }

    .fancyButtons:hover {
        background-color: #000000;
        color: white;
        stroke: green;
        stroke-width: 3px;
        stroke-dashoffset: 15px;
    }

    .fancyButtons {
        border: none;
        color: white;
        padding: 14px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        transition-duration: 0.5s;
        cursor: pointer;
        background-color: darkslategray;
        border-radius: 10px;
    }

    #statusLabel {
        visibility: hidden;
    }
</style>
{% endblock %}

{% block body %}
<img src="/assets/accessLogo" alt="logo" width="200" height="57">
<br>
<h2>Please sign in to Access</h3>
<h5 id="statusLabel">Processing...</h5>
<br>
<form>
    <label for="email">Email:</label><br>
    <input type="email" id="emailField" name="email" placeholder="name@example.com" value={{ email }}>
    <br>
    <label for="password">Password:</label><br>
    <input type="password" id="passwordField" name="password" placeholder="Password">
</form>
<br>
<a href="{{ url_for('passwordReset') }}"><p>Forgot your password? Click here.</p></a>
<br>
<br>
<button class="fancyButtons" onclick="signin()" id="signinButton">Sign In</button>
<script src="/assets/signinJS"></script>
{% endblock %}