{% extends "baseXNav.html" %}
{% block tabTitle %}Login to Access{% endblock %}

{% block head %}
<style>
    /* .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    } */

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        align-items: center;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }


    .fancyButtons:hover {
        background-color: #000000;
        color: white;
        stroke: green;
        stroke-width: 3px;
        stroke-dashoffset: 15px;
    }

    .fancyButtons {
        border: none;
        color: white;
        padding: 14px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        transition-duration: 0.5s;
        cursor: pointer;
        background-color: darkslategray;
        border-radius: 10px;
    }

    #statusLabel {
        visibility: hidden;
    }
</style>
<script src="/assets/signinJS"></script>
{% endblock %}

{% block body %}
<main class="form-signin">
    <form>
        <img class="mb-4" src="/assets/accessLogo" alt="" width="200" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in to Access</h1>
        <h4 id="statusLabel">Processing...</h4>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" value={{ email }}>
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" onclick="signin()">Sign in</button>
    </form>
    <br>
    <br>
    <script src="/assets/copyright"></script>
</main>
{% endblock %}