{% extends "baseXNav.html" %}

{% block tabTitle %}Logout | Access Portal{% endblock %}

{% block head %}
<style>
    body {
        margin-top: 150px;
    }
    #content {
        text-align: center;
    }
    #heading {
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
<div id="content">
    <img src="/assets/accessLogo" alt="logo" width="200" height="57">
    <br>
    <h1 id="heading">Logging out {{ username }}...</h1>
    <br>
    <h3 id="statusLabel">Please wait a moment while we log you out of the Access Portal...</h3>
    <br>
    <br>
    <script src="/assets/copyright"></script>
    <script src="/assets/logoutJS"></script>
</div>
{% endblock %}