<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel</title>
</head>
<body>
    <h1>Access Control Panel</h1>
    <p>Welcome to Access' Control Panel. Options:</p>
    <a href="./toggleLock"><p>Toggle System Lock</p></a>
    <a href="./toggleCleaner"><p>Toggle Cleaning Agent</p></a>
    <a href="./logs"><p>View Logs</p></a>
    <a href="./clearLogs"><p>Clear Logs</p></a>
    <button onclick="resetRedirect()">Reset System</button>
    <script>
        function resetRedirect() {
            if (prompt("Warning, destructive action! Type 'reset' to confirm reset action.") === "reset") {
                window.location.href = "./reset";
            }
        }
    </script>
</body>
</html>