<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel</title>
</head>
<body>
    <h1>Access Control Panel</h1>
    <p>Welcome to Access' Control Panel. Options:</p>
    <a href="./toggleLock"><p>Toggle System Lock</p></a>
    <a href="./toggleCleaner"><p>Toggle Cleaning Agent</p></a>
    <a href="./logs"><p>View Logs</p></a>
    <a href="./clearLogs"><p>Clear Logs</p></a>
    <a href="./reset"><p>Reset System</p></a>
</body>
</html>