{% extends "baseXNav.html" %}

{% block tabTitle %}Access Unauthorised Error{% endblock %}
{% block head %}
<style>
    body {
        margin-top: 150px;
    }
</style>
{% endblock %}

{% block body %}
<img src="/assets/accessLogo" alt="logo" width="200" height="57">
<br>
<h1>Access Unauthorised</h1>
<br>
<h3>{{ message }}</h3>
<br>
<h6>You have been re-directed to this webpage due to incomplete or failed security checks by the Access system. See the above message to see what went wrong.</h6>
<br>
<br>
<a href="{{ originURL }}"><p>Go back to Access Home</p></a>
<script src="/assets/copyright"></script>
{% endblock %}