<!DOCTYPE html>
<html>
    <head>
        <title>Access System Version</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
            body {
                text-align: center;
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <h1>The Access System</h1>
        <p><strong>Version: {{ versionNum }}</strong></p>
        <br>
        <br>
        <script src="/assets/copyright"></script>
    </body>
</html>